@import "master-style";

.bounce {
  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}
@keyframes bounce {
  0%,
  100%,
  75%,
  85%,
  95% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-20px);
  }

  90% {
    transform: translateY(-10px);
  }
}
